body{
    margin: auto;
}

h1{
    background-color: #131921;
    height: 70px;
}

.foo
{
    height: 50%;
    display: inline-block;
    background: #e8edff url('foo.png') top center no-repeat;
    vertical-align: bottom;
}

.fresh-shoveler .as-title-block-left {
    display: block;
    width: auto;
    float: left;
    font-size: 21px;
    line-height: 1.5!important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0;
}